# Static files UPLOADED during runtime (KEEP OUT)
static/vids/*
static/thumbs/*
!/static/vids/.gitkeep
!/static/thumbs/.gitkeep

# Static files from Git (KEEP IN)
!static/styles.css
!static/favicon.png
!static/gear-icon.png
!static/*.css
!static/*.png
